# Angular / Frontend
# Build
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Angular cache
.angular/

# Env
.env.local

# Tests
coverage/
testem.log

# Misc
.sass-cache/
connect.lock
libpeerconnection.log
typings/

# Docker / Ambiente
.env
*.env
docker-compose.override.yml

# .NET / Backend
**/bin/
**/obj/
**/*.user
**/*.suo
**/credentials/

# Sensitive configs
**/appsettings.Development.json
**/appsettings.Production.json

# IDEs
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Others
.idea/
.project
.classpath
.c9/
.settings/
*.sublime-workspace

# System
.DS_Store
Thumbs.db